.sign-up{
    padding: 1rem;
    text-align: center;
}

.sign-up-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input[type=text]{
    width: 50%;
    padding: .7rem;
    margin-bottom: .5rem;
    font-size: .9rem;
    outline: 0;
    border: 2px solid var(--third-color);
    border-radius: 4px;
    transition: border .5s ease-in-out;
}

.form-container input[type=text]:focus{
    border-color: var(--main-color);
}


.term{
    display: flex;
    align-items: center;
    justify-content: center;
}

.term p{
    font-weight: 800;
}

.term span{
    color: var(--main-color);
}

.form-container .btn-container{
    margin: 1rem 0;
}

.icon-container{
    padding: .5rem;
}

.icon-container i{
    font-size: 1.3rem;
    margin-left: 8px;
    padding: 5px;
    background-color: var(--main-color);
    color: var(--font-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
}

.icon-container i:hover{
    background-color:var(--third-color);
    color: var(--secondary-color);

}


@media(max-width:600px){
    .sign-up-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
    }

    .text-container{
        padding: .5rem;
    }

    .form-container input[type=text]{
        width: 90%;
    }

    .term p{
        font-size: .7rem;
    }

    .icon-container i{
        font-size: 1rem;
    }
}

